# =====================
# Python / Django
# =====================

__pycache__/
*.py[cod]
*$py.class

*.sqlite3

.env

venv/
env/
.venv/


# Django
*.log
media/
staticfiles/


# =====================
# Node / React
# =====================

node_modules/

.next/

dist/

build/


# =====================
# Environment
# =====================

.env
.env.*

# =====================
# IDE
# =====================

.vscode/

.idea/


# =====================
# OS
# =====================

.DS_Store
Thumbs.db